:root {
	/* fonts */
	--font-ios: -apple-system, Helvetica Neue, Arial;
	--font-android: Roboto, Arial;
	--font-common: -apple-system, Roboto, Helvetica Neue, Arial;
}

html,
body,
div#root {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-common);
}

h3,
h4,
h5 {
  /* margin-left: 26px; */
  /* margin-right: 26px; */
  margin-left: 12px;
  margin-right: 12px;
  max-width: 100%;
  white-space: initial;
}

h5 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  color: rgba(0,0,0,.7);
}

h4 {
  margin-top: 0;
  color: rgba(0,0,0,.5);
}

h3 {
  display: flex;
  cursor: pointer;
  flex-grow: 2;
  font-size: 16px;
}


.disabled {
  pointer-events: none;
}

.disabled--opacity {
  opacity: 0.4;
}

.Team__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.Team__header > button {
  display: flex;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  will-change: transform;
  transition: transform .3s ease;
  transform: rotate(180deg);
  outline: none;
}

.Team__header > button svg {
  border-radius: 50%;
  fill: rgba(0, 0, 0, .34);
  transition: fill .3s ease;
}

.Team__header > button:hover svg,
.Team__header > button:active svg {
  fill: rgba(0, 0, 0, .54);
}

.Team__header > .on {
  transform: rotate(0deg);
}

.Cell__main {
  padding: 0 !important;
}

.vote-buttons {
  display: flex;
}

.Button {
  margin-left: 0;
}

.Button + .Button {
  margin-left: 26px;
}